/***** BASE STYLES *****/
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #2b2b2b;
}

#about, #work, #contact {
  height: auto;
}

/***** GRID *****/
.full-width {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
  margin: 0 auto;
}

.half-width {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
}

.third-width {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
}
/***** HEADER ****/
.tophead {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

header {
  background: url('../img/hero.png');
  background-size: cover;
  padding: 0 1.56rem;
}

header h1 {
  padding: 0 0 4.06rem 1.56rem;
  color: #bbc085;
  font-family: 'Lora', serif;
  font-size: 4.19em;
  width: 50%;
  margin: 2.625rem 0;
}

.topnav {
  overflow: hidden;
  position: relative;
  width: 10%;
  padding: 0 1.56rem 4.06rem 0;
  margin: 2.625rem 0;
}

.topnav #myLinks{
  display: none;
}

.fa-lg {
  padding: .3125rem;
}

.topnav a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2em;
  color: #828282;
  padding: .875rem 1rem;
  display: block;
}

.topnav a.icon {
  background: #bbc085;
  display: block;
}

header h2 {
  width: 62.5rem;
  clear: both;
  font-family: 'Lora', serif;
  font-size: 4.5em;
  color: #9b9b9b;
  padding: 1.25rem 0 1.25rem 1.5625rem;
}

header h2 span {
  color: #2b2b2b;
}

/***** ABOUT SECTION *****/
#about .full-width {
  padding: 5rem 0;
}

#about h2 {
  font-family: 'Lora', serif;
  font-size: 4em;
  padding-left:3.125rem;
}

#about p {
  font-size:3.125em;
  color:#7f7f7f;
  line-height:3.85rem;
  padding-left:3.125rem;
  padding-right:3.125rem;
}

/***** WORK SECTION *****/

#work {
  background-color: #f9ceb7;
  text-align: center;
}

#work .full-width {
  padding: 7.1875rem 0;
}

#work .third-width {
  margin: auto;
}

#work img {
  padding-bottom: 1.875rem;
  width: 25%;

}

 #work h3 {
  font-size: 3.75em;
  width: 100%;
}

#work p {
  font-family: 'Lora', serif;
  font-size: 3.125em;
  padding: 0 3.125rem;
}

/***** CONTACT SECTION *****/
#contact {
  background-color: #ebebeb;
}
#contact .full-width {
  padding: 6.875rem 0;
}

#contact img#contact-img {
  border: .75rem solid #ffffff;
  width: 85%;
}

#contact h2 {
  font-family: 'Lora', serif;
  font-size: 3.75em;
  line-height: 2.75rem;
  margin-bottom: 0;
}

#contact #envelope {
  width: 10%;
}

#contact #email-header {
  font-size: 3em;
  font-weight: normal;
  line-height: 2.75rem;
}

#contact #socialmedia-header {
  font-weight: bold;
  font-size: 3em;
  line-height: 2.75rem;
  margin: 2.5rem 0 0 0;
}

#contact a {
  text-decoration: none;
  color: #c49075;
  font-weight: bold;
  font-size: 3.8125em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#socialicon {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  min-width: 3rem;
  padding: 0 .3125rem;
}

#socialicon img {
  width: 100%;
  min-width: 3rem;
  height: 5.85rem;
}

#socialicon p {
  width: 10%;
  padding: 1.25rem 2.5rem;
}
